body {
    font-family: 'Roboto', sans-serif;

}

#main-table {
    width: 100%;
}

.first-alignment-div {
    float:left; width:45%; margin: 20px;
}
.second-alignment-div {
    float:right; width:45%; margin: 20px;
}