body {
    font-family: 'Roboto', sans-serif;
}

#card-id {
    background-color: #edf8fa;
    border: 4px solid #cdf3fa;
    border-radius: 25px;
    color: #3d3d3d;
}
.card {
    margin-bottom: 25px;
}

.card-link {
    width: 100%;
    height: 30%;
    background-color: #c9d5f8;
}

.list-group-item {
    background-color: #edf8fa;
}
.card-link:hover {
    background-color: #55d6ed;
    color: white;
}
#card-title {
    height: 25px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}
.card-subtitle {
    margin-left: 10px;
}



