body {
    font-family: 'Roboto', sans-serif;
}

#card-id {
    background-color: #edf8fa;
    border: 4px solid #cdf3fa;
    border-radius: 25px;
    color: #3d3d3d;
}
.card {
    max-width: 80%;
    height: 150px;
    margin-top: 3px;
    margin-bottom: 50px;
}

#card-title {
    height: 50px;
    max-height: 50px;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    color: #028fa8;
}


