body {
    font-family: 'Roboto', sans-serif;
}

.main-table {
    width: 100%;
}
.products-button {
    width: 49%;
    background-color: #02acd6;
    color: white;
}

.staff-button {
    width: 49%;
    background-color: #02acd6;
    color: white;
}

.btn-success {
    background-color: #1146f5;
    color: white;
}

.btn-success:focus {
    background-color: #0d3cd6;
    color: white;
}

.btn-success:hover {
    background-color: #0d3cd6;
}

.btn-success:disabled {
    background-color: #6386f7;
}

#page-title {
    width: 50%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 45;
    color: white;
    background-color: #1146f5;
    height: 70px;
    line-height: 70px;
    border-radius: 10px;
}