body {
    font-family: 'Roboto', sans-serif;
}

.main-table {
    width: 100%;
}
.products-button {
    width: 49%;

}

.staff-button {
    width: 49%;
}

#page-title {
    width: 50%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 45;
    color: #32CD32;
    background-color: #2F4F4F;
    height: 70px;
    line-height: 70px;
    border-radius: 20px;
}