body {
    font-family: 'Roboto', sans-serif;
}

.vertical-center {
    min-height: 100vh;

    display: flex;
    align-items: center;
}

#title-container {
    background-color: #02acd6 !important;
    color: #55d6ed !important;
    text-align: center !important;
}

#h2-title {
    color: white;
    font-size: 54px;
    font-weight: 300;
    line-height: 58px;
    margin: 10 10 10px;
    font-weight: 600;
}

.card {
    height: 200px;
    background-color: #edf8fa;
    border-style: solid;
    border-radius: 30px / 70px;
    border-color: #cdf3fa;
    box-shadow: 5px 6px 11px 2px #888 ;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

.card:hover {
    background-color: #d1dee0 !important;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}

.card:hover > .card-title {
    color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.card-title {
    margin: 65px 0px 3px 3px;
    font-size: 50px;
    text-align: justify;
    text-align-last: center;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #55d6ed;
}

/*.card-text {
    margin-top: 30px;
    height: 100px;
    text-align: center;
    color: #3d3d3d;
}*/

/*
a {
    color: #050505 !important;
}
a:hover {
    color: #32CD32 !important;
}*/
