body {
    background-color: #003049 !important;
    font-family: 'Lexend Deca', sans-serif !important;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

#title-container{
    background-color: #F77F00 !important;
    color: #FCBF49 !important;
    border-bottom: 2px solid #FDC500 !important;
    /*border-radius: 25px !important;*/
    text-align: center !important;
}

#h2-title {
    color: #050505;
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 58px;
    margin: 10 10 10px;
}

#store-col{
    background-color: #F77F00 !important;
    border: 5px solid #D62828 !important;
    border-radius: 25px !important;
    color: #050505 !important;

}
a {
    color: #050505 !important;
}

#warehouse-col{
    background-color: #F77F00 !important;
    border: 5px solid #D62828 !important;
    border-radius: 25px !important;
    color: #050505 !important;
}