body {
    font-family: 'Roboto', sans-serif;
    background-color: #2F4F4F;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
.body-div {
    width: 50%;
    height: 20%;
}
