body {
    background-color: #EAE2B7;
    font-family: 'Lexend Deca', sans-serif ;
}

#title-container {
    background-color: #003049;
    border-bottom: 5px solid #F77F00;
    text-align: left;
    color: #FCBF49;
}

#card-id {
    background-color: #003049;
    border: 5px solid #D62828;
    border-radius: 25px;
    color: #FCBF49;
}


